h1{
    font-size: 25px;
    width: 50%;
}
p{
    color: rgba(216, 216, 216, 0.925);
    background-color: rgb(5, 5, 5);
    width: 50%;
    font-size: 25px;
}
.heading {
    color: white;
    background-color: black;
    font-size: 35px;
    width: 30%;
    text-align: center;
}
.subheading{
    color: white;
    background-color: black;
    font-size: 25px;
    width: 30%;
    text-align: center;


}
#intro{
    font-size: 25px;
    width: 50%;
    font-style: italic;
}
#future{
    font-size: 30px;
    text-shadow: 3px 3px;
    font-style: italic;

}